<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistrarGastos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64336/RegistrarGastos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistrarGastos"
                contract="ServiceReference1.IRegistrarGastos" name="BasicHttpBinding_IRegistrarGastos" />
        </client>
    </system.serviceModel>
</configuration>